<h1>Welcome to the CTA train schedule lookup!</h1>
<form action = "/result">
  <label for = "station">Select your station:</label>
  <select name = "station" id = "station">
    <%$parent_stations_hash.each do |station_id, station_name|%>
      <option value = <%=station_id%>><%=station_name%></option>
    <%end%>
  </select>
  <button>Look up</button>
</form>
<form action = "/result">
  <input type = "hidden" name = "station" id = "station" value = <%=cookies.fetch("station")%> />
  <button>Repeat previous search</button>
</form>
