<div class = "station-selection">
<h1>Welcome to the CTA train schedule lookup!</h1>
<div "station-selection-menu">
<form action = "/result">
  <label for = "station">Select your station:</label>
  <select name = "station" id = "station">
    <%$parent_stations_hash.each do |station_id, station_name|%>
      <option value = <%=station_id%>><%=station_name%></option>
    <%end%>
  </select>
  <button>Look up</button>
</form>
</div>
<form action = "/result">
<%if cookies.empty?%>
<input type = "hidden" value = "40830" name = "station" id = "station">
<%else%>
<input type = "hidden" value = "<%=cookies["station"]%>" name = "station" id = "station">
<%end%>
<button>Repeat previous search</button>
</form>
</div>
