<!DOCTYPE html>
<html>
  <head>
    <title>CTA train arrivals</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <style>
      .radio-button {
        display:flex;
        align-items: center;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
